<launch>
    <arg name="single_image_on"  default="false"/>
    <arg name="rgbd_images_on"   default="true"/>
    <arg name="stereo_images_on" default="false"/>
    <arg name="imu_on"           default="false"/>
    <arg name="magnetic_on"      default="false"/>
    <arg name="pose_on"          default="false"/>

    <arg name="single_image_name"        default="/mv_26805233/image_raw"/>

    <arg name="rgb_image_name"           default="/camera/rgb/image_rect_color"/>
    <arg name="depth_image_name"         default="/camera/depth_registered/hw_registered/image_rect"/>

    <arg name="stereo_left_image_name"   default="/stereo/left/image_raw"/>
    <arg name="stereo_right_image_name"  default="/stereo/right/image_raw"/>'

    <arg name="imu_name"                 default="/imu/data"/>
    <arg name="magnetic_name"            default="/imu/mag"/>

    <arg name="pose_name"                default="/vicon/CHK_MONO/CHK_MONO"/>

    <arg name="save_folder_dir"          default="/home/larrkchlaptop/save_exp/"/>

    <node pkg="topic_logger" name="topic_logger_node" type="topic_logger_node" output="screen">
        <param name="single_on"          type="bool" value="$(arg single_image_on)"/>
        <param name="rgbd_on"            type="bool" value="$(arg rgbd_images_on)"/>
        <param name="stereo_on"          type="bool" value="$(arg stereo_images_on)"/>
        <param name="imu_on"             type="bool" value="$(arg imu_on)"/>
        <param name="magnetic_on"        type="bool" value="$(arg magnetic_on)"/>

        <param name="pose_on"            type="bool" value="$(arg pose_on)"/>

        <param name="single_topic"       type="string" value="$(arg single_image_name)"/>
        <param name="rgb_topic"          type="string" value="$(arg rgb_image_name)"/>
        <param name="depth_topic"        type="string" value="$(arg depth_image_name)"/>
        <param name="stereo_left_topic"  type="string" value="$(arg stereo_left_image_name)"/>
        <param name="stereo_right_topic" type="string" value="$(arg stereo_right_image_name)"/>
        <param name="imu_topic"          type="string" value="$(arg imu_name)"/>
        <param name="magnetic_topic"     type="string" value="$(arg magnetic_name)"/>
        <param name="pose_topic"         type="string" value="$(arg pose_name)"/>

	    <param name="folder_dir"         type="string" value="$(arg save_folder_dir)"/>
    </node>
</launch>
